/*doc
---
name: Buttons
title: Buttons
category: Buttons
---

##Overview

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


```html_example
<button class="button">Primary Button</button>
```

*/


/*doc
---
parent: Buttons
name: Links
title: Links
---

```html_example
<a href="#">Text Link</a>
```
*/
