@import url(https://fonts.googleapis.com/css?family=Roboto+:400,700,600,300);
.sg-color-1 {
  background-color: #003b6d;
}

.sg-color-2 {
  background-color: #006594;
}

.sg-color-3 {
  background-color: #3384a9;
}

.sg-color-4 {
  background-color: #f16628;
}

.sg-color-5 {
  background-color: #ffad89;
}

.sg-color-6 {
  background-color: #424242;
}

.sg-color-7 {
  background-color: #A30C00;
}

.sg-color-8 {
  background-color: #448300;
}

body {
  background-color: #FCFCFC;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 3em;
}
