body{
  font-family: $font-body;
}

h1,
h2,
h3,
h4,
h5,
h6{
  word-wrap: break-word;
}

/*doc
---
parent: Typography
name: Paragraph
title: Paragraph Text
---

Basic paragraph text within the site in a system sans-serif font.

```html_example
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti fugiat, natus velit voluptas animi laborum rerum eligendi, iusto, temporibus minima quis ipsa reiciendis sequi minus saepe dolorem consequuntur quasi, magnam.</p>
```

*/

p{
  word-wrap: break-word;
  line-height:1.5;
}


/*doc
---
parent: Typography
name: Blockquote
title: Blockquote
---

```html_example
<blockquote>This is an example of a blockquote</blockquote>
```
*/