.teaser {
	background-color: var(--color-surface);
	border-radius: var(--length-borderRadius);
	overflow: clip;
	box-shadow: var(--shadow-low);
}

.teaser-image-wrapper {
	background-color: var(--color-turquoise-500);
	display: block;
	padding: 0;
}

.teaser-image {
	display: block;
	width: 100%;
	height: auto;
	filter: grayscale();
	mix-blend-mode: hard-light;
}

.teaser-content {
	padding: var(--length-spacer);
}
