.teaser {
	background-color: var(--color-surface);
	border-radius: var(--length-borderRadius);
	overflow: clip;
	box-shadow: var(--shadow-low);
}

.teaser-image {
	width: 100%;
	height: auto;
}

.teaser-content {
	padding: var(--length-spacer);
}
