@import "global/normalize";
@import "global/global";
@import "global/tabs";
@import "navigation/squish-menu";


$sg-ground:#222;

//Header

.site-header { background: #222; padding: 1em 2em; width: 100%;}
.site-header a, .site-header a:visited {text-decoration: none; color: white;}
.site-header a:hover, .site-header a:focus {color: #feb620; text-decoration: none; border-bottom: 1px solid #feb620;}
.site-header h1 { display: inline-block; margin-right: 3em; font-weight: 600; font-size: 1em; margin-bottom: 0;}

//Navigation

.site-nav-wrapper {
  display: none;
}

.site-content-wrapper {
  padding: 2em;
}

[role="tablist"]{
  border-bottom:solid thin;
}

[role="tab"]{
  padding:0.5em 0.75em;
  color:white;
  background-color:$sg-ground;
  border:solid thin $sg-ground;
  border-bottom:none;
  transform:translateY(1px);
}

[aria-selected="true"]{
  background-color:white;
  color:$sg-ground;
}

section{
  padding:2.5em 0;
  + section{
    border-top:1px solid #EEE;
  }
}

.sg-section-header {
  margin: 0 0 1em 0;
  font-weight: 100;
  font-size: 1em;
  color: grey;
}

.sg-logo-image{
  width:200px;
  height:auto;
}

.sg-accent{
  width:180px;
  height:auto;
  vertical-align:top;
}

//Colors

.sg-color{
  width:5em;
  height:5em;
  display: inline-block;
  border:solid thick white;
}

//Adjectives

.sg-word{
  display:inline-block;
  background:#eee;
  padding:0.5em;
}

//Imagery
.sg-image{
  width:100%;
  max-width: 500px;
  height:auto;
}