.archiveHero {
	padding: var(--length-spacer);
	text-align: center;
	text-shadow: var(--shadow-low);

	h1 {
		color: var(--color-accent);
		margin: 0;
	}
}

.archive-grid {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	gap: var(--length-spacer);
	list-style: none;

	@container (width > 40rem) {
		grid-template-columns: 1fr 1fr;
	}
}

.archive-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	gap: var(--length-spacer);
	list-style: none;
}
