.frontPage-hero {
	background-color: var(--color-surface);
	display: grid;
	align-items: center;

	@media (width > 60rem) {
		grid-template-columns: 1fr 1fr;
	}
}
.frontPage-hero-image {
	height: 100%;
	object-fit: cover;
}
.frontPage-hero-content {
	padding: var(--length-spacer);
}

.frontPageGrid {
	margin: auto;
	max-width: var(--length-wide);
	list-style: none;
	padding: var(--length-spacer);
	display: grid;
	gap: var(--length-spacer);
	container-type: inline-size;

	@media (width > 40rem) {
		grid-template-columns: 1fr 1fr;
	}
}

.frontPageGrid-title {
	text-shadow: var(--shadow-low);
	padding: var(--length-spacer);
	margin: 0;
	text-align: center;
	grid-column: 1/-1;
	color: var(--color-accent);
}

.emulatorTeaser {
	grid-column: 1/-1;
}
