.page-wrapper {
	padding: var(--length-spacer);
}

.page-content {
	padding: var(--length-spacer);
	background-color: var(--color-surface);
	color: var(--color-text);
	box-shadow: var(--shadow-low);
	max-width: var(--length-pageMax);
	margin: auto;
	border-radius: var(--length-corners);
}
