.page-wrapper {
	padding: var(--length-spacer);
	container-type: inline-size;
}

.page-content {
	padding: var(--length-spacer);
	background-color: var(--color-surface);
	color: var(--color-text);
	box-shadow: var(--shadow-low);
	max-width: var(--length-pageMax);
	margin: auto;
	border-radius: var(--length-borderRadius);
}

.page-image {
	display: block;
	aspect-ratio: 3/1;
	border-radius: var(--length-borderRadius);
	background-color: black;
	width: 100%;
	height: auto;
	object-fit: cover;
	margin-block: var(--length-spacer);
}
