/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
	font-size: clamp(1.2rem, calc(0.5rem + 2vw), 1.5rem);
	box-sizing: border-box;
	background-color: var(--color-surface);
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: var(--font-body);
	font-optical-sizing: auto;
	font-weight: 300;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	color: var(--color-text);
	background-image: var(--img-gradient), var(--img-hex);
	background-size: cover, 2rem;
	background-position: 50%;
	background-attachment: fixed;
}
