.field-wrapper {
  display: grid;
}

fieldset {
  padding: 0;
  border: none;
  display: grid;
  gap: var(--length-spacer);
  padding-bottom: var(--length-spacer);
}

[type="text"],
[type="email"],
textarea {
  color: var(--color-surface);
  background-color: var(--color-text);
  padding: 0.5rem;
  border: none;
  font-size: inherit;
  border-radius: var(--length-borderRadius);
  &:focus {
    background-color: white;
  }
}

textarea {
  min-height: 12rem;
}

button {
  border: none;
  font-size: inherit;
  font-family: var(--font-headings);
  font-weight: 700;
  line-height: 1;
  padding: 0.5em 0.7em;
  background-color: var(--color-accent);
  border-radius: var(--length-borderRadius);
  text-transform: uppercase;
  box-shadow: var(--shadow-low);
}
