// Defines the look of a menu link
.menu-link {
	display: block;
	background-color: transparent;
	border: none;
	padding: 0;
}
// Default styles for the nav UL
nav .menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
}
// Individual menu-items and their nested links
.menu-item {
	flex-shrink: 0;
	& + .menu-item {
		margin-left: 0.5em;
	}
	a {
		@extend .menu-link;
	}
}
.siteNav-toggle {
	@extend .menu-link;
	cursor: pointer;
	display: none;
}
// What goes on when the container is .too-small??
//Show the siteNav-toggle
.too-small .siteNav-toggle {
	display: block;
}
// stack the menu-items with flex-direction
// and collapse the list
.too-small ul {
	flex-direction: column;
	max-height: 0;
	overflow: hidden;